* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 500px;
    margin: 150px auto;
    border: 5px solid #000;
}

.square {
    height: 50px;
    width: 10%;
    display: inline-block;
    border: 2px solid #fff;
    background-color: #001633;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.clicked-active {
    background-color: #00e164;
}

.bomb {
    background-color: red;
}